<body>


    <div class="page">
        <!-- Add image -->
        <div class="header-text">
        	 <div class ="logobox"> <img class="logo" src ="/assets/logohor.png">  NoYouPick!
              <img src (error) = "showInstructions()">
            </div>
       
        </div>
        <div class= "maptitle">
              Welcome! Get started below! <br> <mat-icon (click) = 'showInstructions()'> info </mat-icon> 
            </div>
       
            <button type="button" class="category-button" (click) = 'createRoomAlert("1365")'>Action & Adventure</button>
            <button type="button" class="category-button" (click) = 'createRoomAlert("7424")'>Anime</button>
            <button type="button" class="category-button" (click) = 'createRoomAlert("783")'>Children & Family</button>
            <button type="button" class="category-button"(click) = 'createRoomAlert("31574")'>Classic</button>
            <button type="button" class="category-button" (click) = 'createRoomAlert("6548")'>Comedies</button>
            <button type="button" class="category-button"(click) = 'createRoomAlert("6839")'>Documentaries</button>
            <button type="button" class="category-button"(click) = 'createRoomAlert("5763")'>Dramas</button>
            <button type="button" class="category-button"(click) = 'createRoomAlert("8711")'>Horror</button>
            <button type="button" class="category-button" (click) = 'createRoomAlert("1701")'>Music</button>
            <button type="button" class="category-button" (click) = 'createRoomAlert("8883")'>Romantic</button>
            <button type="button" class="category-button"(click) = 'createRoomAlert("1492")'>Sci-fi & Fantasy</button>
            <button type="button" class="category-button"(click) = 'createRoomAlert("4370")' >Sports</button>
            <button type="button" class="category-button"(click) = 'createRoomAlert("8933")'>Thrillers</button>
            <button type="button" class="category-button"(click) = 'createRoomAlert("83")'>TV Shows</button>
        
    </div>




</body>