<body>
  <div class = "body">
    <div class="flex-item-top">
      <div class="flex-page">
        <!-- if log in, there is error, so refresh -->
        <div *ngIf=" auth.user$ | async as user; else login">
          <img src (error) = signOut()>
        </div>

        <ng-template #login>
          <!-- title -->
          <div class = "startpage" >
            <div class ="logobox"> <img class="logo" src ="/assets/logohor.png">  NoYouPick!
              <img src (error) = "showInstructions()">
            </div>

            <div class= "maptitle">
              Welcome! Get started below! <br> <mat-icon (click) = 'showInstructions()'> info </mat-icon> 
            </div>

           
              <div class = "map">
                <agm-map 
                  [latitude]="lat"
                  [longitude]="lng"
                  [zoom]="zoom"
                  [streetViewControl] = "false"
                  [disableDefaultUI]="false"
                  [zoomControl]="false"
                  (mapClick)="clickedMap($event)"
                  >
                <agm-circle 
                      *ngFor="let c of circles; let i = index"
                      [latitude]="markers[0].lat" [longitude]="markers[0].lng" 
                      [radius]="c.radius"
                      [fillColor]="'red'"
                      (radiusChange)="changedRadius($event)" 
                      [editable]="true">
                  </agm-circle>

                  <agm-marker 
                      *ngFor="let m of markers; let i = index"
                      (markerClick)="clickedMarker(m.label, i)"
                      [latitude]="m.lat"
                      [longitude]="m.lng"
                      >
                  </agm-marker>
                </agm-map>  
                </div>
                <div class = "slider">
                <mat-slider (change)="radiusChange($event)" min="1609" max="8047" step="10" [value]="circles[0].radius"></mat-slider> <br>
               {{circles[0].radiusmiles}} miles around marker!
             </div>
              
          

            <!-- click to login -->
           
              <button style ="background-color: transparent; border-width:0px;"> <div class = "createroombutton" (click)="createRoomAlert();"><div>Create Room</div></div>
              </button>
           
          </div>
        </ng-template>
      </div>
    </div>

    <div class = "flex-item-bot">
        <div class = "flex-page">
<div class = "flexboxabout">
          <div style = "width:100px; display:flex; align-self: center"> <img class = "aboutimage" src ="/assets/logohor.png"> </div>

          <div class="flex-title-row">
            <div class = "title"> What is NoYouPick? </div>
          </div>
          <div class = "description text-center" style="margin-bottom: 40px;"> 
          Tinder, for food, places, and movies! <br> NoYouPick simply aims to solve the problem of not knowing where to eat, watch, or hangout. Whether you are with a hungry group of friends 
            or a significant other, NoYouPick provides an easy experience for figuring it out together, Tinder style! Instead of having others say the dreaded "No, you pick", just use us!
          </div>
          <div>


          </div>
          <div class="flex-title-row">
            <div class = "title"> How does this work? </div>
          </div>
                
          <div class="flex-title-row">
            <div style="margin-right: 6px;"> Group Leader </div>
            <mat-icon>person</mat-icon>
          </div>

          <div class="description">
            <ol>
              <li>Visit NoYouPick</li>
              <li>Choose your subcategory(places, movies, restaraunts)</li>
              <li>Set your location and radius (for restaurants/places/travel) OR set your genre (for movies)</li>
              <li>Create a room and share the link </li>
              <li>Wait for others to join and then click start </li>
            </ol>
          </div>

          <div class="flex-title-row">
            <div style="margin-right: 6px;"> Users </div>
            <mat-icon>group</mat-icon>      
          </div>

          <div class="description">
            <ol>
              <li>Join the host's lobby</li>
              <li>Swipe, like Tinder!</li>
            </ol>
              <div class="text-center">NoYouPick will recommend you a restaurant, movie, or place based on what everyone likes!</div>
          </div>
        </div>
</div>
</div>
  </div>
</body>