/* flex and flex items */
.body {
	width: 100%;
	z-index:0;
	display: flex;
	flex-direction: column;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif; 
}
.flex-item-top {
	
	background-color: #150485;
	width: 100%;
}
.flex-item-bot {
	
	background-color: #c62a88;
	width: 100%;
}
.flex-page {
	
	width: 100%;
	max-width: 700px;
	
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin:auto;
	
}
/*flex top items */
.startpage {
	display: flex;
	width: 100%;
	height: 100vh;
	flex-direction: column;
	justify-content: space-between;
}
.logobox {
	
	font-size: 20px; 
	font-style: normal; 
	font-variant: normal; 
	font-weight: bold; 
	height:7vh;
	margin-left:auto;
	margin-right: auto;
	color: white;
}
.logo {
	height:7vh;
	width:auto;
}
agm-map {
  height:100%;
  width:100%;
  
}
.map {
	height: 50vh;
	margin-left:auto;
	margin-right:auto;
	width: 80%;
	max-width: 560px !important;
}
.maptitle {
	
	font-size: 24px; 
	font-style: italic; 
	
	font-weight: 400; 
	margin-left:auto;
    margin-right: auto;
	color: white;
	width:80%;
	
	text-align: center;
	
}
.slider {
	width:80%;
	height:10vh;
	max-width: 560px !important;
	margin-left:auto;
	margin-right:auto;
	color:white;
	text-align: center;
	
}
mat-slider {
	width:100%;
	

}
.createroombutton {
    width: 80%;
    height: 60px;
    border-radius: 20px;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-left:auto;
    margin-right: auto;
    background: #03c4a1;
    color:white;
    
	font-size: 24px; 
	font-style: normal;  
	font-weight: bold; 
	text-align: center;
    }
@media screen and (max-width: 500px) {
  .startpage {
    height: -webkit-fill-available; 
  }
  agm-map {
  height: 300px;
  width:100%;
  
}
}

/*flex bot items*/

.flexboxabout {
	color:white;
	display: flex;
	max-width:100%;
	min-width: 100%;
	min-height: 100vh;
	flex-direction: column;
}
.description {
	
	font-size: 18px; 
	 
	font-variant: normal; 
	font-weight: lighter; 
	line-height: 26px;
	color: white;
	margin: 8px;
}
.title {
	
	font-size: 20px; 
	font-style: bold; 
	font-variant: normal; 
	font-weight: 400; 
	line-height: 20px;
	color: white;
	text-align:center;
	
}
.aboutimage {
	height:100px;
	width: 100px;
	margin:auto;
	
}
.flex-title-row {
	display:flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;

}
.text-center {
	text-align: center;
}

